@model IEnumerable<mvcDemo.Models.Staff>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Staffs Page";
}

<h1>Staffs Module</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffName) 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qualification)
            </th>
        </tr>
    </thead>

<tbody>
    @foreach (var item in Model)
    {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qualification)
            </td>
        </tr>
    }
</tbody>
</table>
